# Managed by Ansible - time_sync role

{% for server in chrony_time_servers %}
server {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift

makestep {{ chrony_makestep_threshold | default(1.0) }} {{ chrony_makestep_updates | default(3) }}

rtcsync

logdir /var/log/chrony
